<div>
    <h1>Apagar Filmes</h1>
    <div>
        <form action="//listafilmes/:id" method="delete">
            <label for="filme">Filme</label>
            <input type="text" name="filme"> <br/>

            <label for="id">ID</label>
            <input type="text" name="id"> <br/>

            <button type="submit">Apagar</button>
        </form>
    </div>
</div>
<script>
